body {
    font: 'Calibri', sans-serif;
    font-size: 18px;
}

#carContainer {
    width: 420px;
    height: 300px;
    display: block;
    background: #fff no-repeat;
    background-size: 420px 300px;
    border: #000000 solid 3px;
}