body {
    font: Arial;
    color: blueviolet;
    font-size: 14pt;
    text-justify: auto;
    background-image: url("../img/binding_dark.png");
    background-attachment: fixed;
    background-repeat: repeat;
}

h1 {
    text-align: center;
    color: gray;
    font-weight: bold;
}

p {
    color: blue;
    font-family: Helvetica, sans-serif;
}

b {
    font-size: 125%;
    letter-spacing: 8px;
}

li {
    list-style-type: lower-roman;
}

.class {
    background: lightgray;
    border: dotted darkgray;
}

.class1 {
    background: gray;
    margin: 1cm 3cm 4cm 5cm;
}

#someSpan {
    font-size: large;
    font-weight: bold;
}