/*Navbar*/

nav:before, nav:after {
    content: " ";
    display: table;
}

nav:after {
    clear: both;
}

nav {
    background: #363839;
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom: 5px solid #a38930;
}

nav ul {
    padding-left: 0;
    padding-top: 8px;
    padding-bottom: 8px;
}

nav a {
    color: #e2e2e2;
    font-size: 12px;
    font-weight: bold;
    padding: 14px 10px;
    text-transform: uppercase;
}

nav a:hover {
    color: #868686;
}

nav li {
    display: inline;
}

/*Learn more*/

footer {
    color: #ced7d5;
    background-color: #373737;
    font-size: 16px;
    border-top: 5px solid #a38930;
    padding-top: 25px;
    padding-bottom: 50px;
}

footer h3 {
    font-family: 'Helvetica', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

footer a {
    color: #a38930;
}

footer a:hover {
    color: #7f6624;
}

/* Jumbotron */

.jumbotron h1 {
    margin-top: 0;
    margin-bottom: 0;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);
}

.jumbotron a {
    font-size: 20px;
    color: #00b0ff;
}

.jumbotron {
    margin-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    height: 600px;
    background: url('../img/amusement.jpg') no-repeat;
    background-size: cover;
}

.jumbotron .container {
    position: relative;
    top: 100px;
}

.jumbotron h1 {
    color: #f9fff9;
    font-size: 48px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.jumbotron p {
    margin-top: 0;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.6);
    font-size: 20px;
    color: #f9fff9;
}

/*Neighborhood guides*/

.neighborhood-guides h2 {
    margin-top: 37px;
}


.neighborhood-guides .thumbnail {
    padding: none;
    border: none;
    background-color: transparent;
    position: relative;
    max-width: 360px;
    margin: none auto;
}

.neighborhood-guides .thumbnail h4 {
    text-align: center;
    font-family: Shift, "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 29px;
    color: #fff;
    text-shadow: 0 1px 8px rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
}

.neighborhood-guides .thumbnail h5 {
    text-align: center;
    font-family: Shift, "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: #fff;
    text-shadow: 0 1px 8px rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
}

.neighborhood-guides {
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}

.neighborhood-guides h2 {
    color: #393c3d;
    font-size: 24px;
}

.neighborhood-guides p {
    font-size: 15px;
    margin-bottom: 13px;
}

/* Neighborhood hover images */
.neighborhood-guides .thumbnail .hover {
    opacity: 0.3;
    z-index: -1;
    background: #fff;
    bottom: 3px;
    left: 4px;
    width: 351px;
    transition: .4s;
    position: absolute;
    display: table-cell;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.neighborhood-guides .thumbnail:hover .hover {
    height: 100%;
    z-index: auto;
    opacity: .9;
    background: linear-gradient(transparent, #2b2b2b);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    bottom: 3px;
    left: 4px;
    visibility: visible;
}

.neighborhood-guides .thumbnail .hover h4 {
    position: relative;
    line-height: 165px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.neighborhood-guides .thumbnail .hover h5 {
    position: relative;
    line-height: 360px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}